{% extends 'base.html.twig' %}

{% block body %}
    <h1>Budget</h1>

    <div class="budget-items">
        <button hx-get="/budget/items" hx-target=".budget-items">Get items</button>
    </div>

{% endblock %}