
<div {{ attributes }}>
    <input type="number" data-model="max">

    Generating a number between 0 and {{ max }}
    <button data-action="live#$render">Apply</button>
    <strong>{{ this.randomNumber }}</strong>
</div>