<div {{ attributes }}>
    <input type="text" data-model="title">
    <input type="number" data-model="amount">


    <button
            data-action="live#action"
            data-live-action-param="save"
            class="btn btn-sm btn-secondary"
            type="button"
    >Save</button>
</div>